<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>standard</key>
	<dict>
		<key>sortType</key>
		<string>ordered</string>
<key>cards</key>
     <dict>
            <key>NSCoder</key>
            <integer>3</integer>
            <key>NSData</key>
            <integer>3</integer>
            <key>NSArray</key>
            <integer>3</integer>
        </dict>

    </dict>
</dict>
</plist>
